name: Lint

on:
  push:
    branches: [main, release-*]
  pull_request:
    branches: [main, release-*]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          fetch-depth: '0'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config
          sudo apt update && \
          sudo DEBIAN_FRONTEND=noninteractive apt install -y build-essential cmake pkg-config libssl-dev libssh2-1-dev zlib1g-dev libhttp-parser-dev python3 wget tar git && \
          wget https://github.com/libgit2/libgit2/archive/refs/tags/v1.5.1.tar.gz -O libgit2-v1.5.1.tar.gz && \
          tar -xzf libgit2-v1.5.1.tar.gz && \
          cd libgit2-1.5.1 && \
          mkdir build && \
          cd build && \
          cmake .. -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=OFF && \
          make -j$(nproc) && \
          sudo make install && \
          sudo ldconfig
        env:
            LIBGIT2_SYS_USE_PKG_CONFIG: "1"

      - name: Golangci lint
        uses: golangci/golangci-lint-action@v9.0.0
        with:
          version: v2.4
          args: --verbose --timeout=10m
